<div class="alien-profile-detail">
  <img src="{{ avatar }}" alt="{{ name }} Avatar" />
  <h2>{{ name }}</h2>
  <p>Species: {{ species }}</p>
  <p>Home Planet: {{ homePlanet }}</p>
  <p>Interests: {{ interests.join ', ' }}</p>
{{#if profile.profileImage}}
<img src="{{profile.profileImage}}" alt="Alien Profile Picture" class="alien-profile-image" />
{{else}}
<p>No profile image available</p>
{{/if}}

</div>
