// <main class="container">
  <h2>Explore</h2>

  <!-- Add a button to toggle all content font -->
  <button class="toggle-font-button" data-content-type="all">Translate All</button>

  {{!-- <ul>
    {{#each users}}
    <li>
      <!-- Display User's Profile Picture -->
      <img src="{{image}}" alt="{{username}}'s profile picture" class="profile-pic">

      <h3 class="font-wingdings">{{username}}</h3>
      <p class="font-wingdings">{{email}}</p>
      <button class="font-wingdings add-friend-button" data-user-id="{{id}}">Add Friend</button>
    </li>
    {{/each}}
  </ul> --}}

  <h3>Threads</h3>
  <ul>
    {{#each threads as |thread|}}
    <li>
      <!-- Display User's Profile Picture for each Post -->
      <img src='{{thread.user.image}}' alt="{{thread.user.username}}" class="profile-image">

      <a href="/thread/{{thread.id}}">
        <h3 class="font-wingdings">{{thread.user.username}}'s Post</h3>
        <p class="font-wingdings">{{thread.content}}</p>
        <button class="font-wingdings add-friend-button" data-user-id="{{thread.user.id}}">Add Friend</button>
      </a>
    </li>
    {{/each}}
  </ul>

  <!-- Include the toggle-font script -->
  <script src="/js/toggle-font.js"></script>
</main>
