<main class="container">
    <img src='/img/photo{{user_id}}.jpg' alt="{{user.username}}" class="profile-image" />
    <h2>{{ user.username }}</h2>
    <button class="toggle-font-button" data-content-type="all">Translate All</button>
    <h2 class="font-wingdings font-toggle mt-5">{{title}}</h2>
    <p class="font-wingdings font-toggle">{{content}}</p>


    <h3 class="font-wingdings font-toggle mt-5">Comments</h3>
    <ul id="comments" class="comment-list">
        {{#each comments}}
        <li class="font-wingdings font-toggle">
            <img src='/img/photo{{user_id}}.jpg' alt="{{user.username}}'s Profile Image" class="profile-image">
            <strong>{{user.username}}:</strong> {{content}}
        </li>
        {{/each}}
    </ul>

    <form class="comment-form">
        <textarea class="comment-input" name="content" rows="4" cols="50" placeholder="Add a comment"></textarea>
        <input type="hidden" name="thread_id" value="{{id}}">
        <div><button class="comment-button" type="submit">Submit Comment</button></div>
    </form>
</main>

<script src="/js/comment.js"></script>
<script src="/js/toggle-font.js"></script>
