<main class="container">
    <h2 class="font-wingdings">{{title}}</h2>
    <p class="font-wingdings">{{content}}</p>

    <button class="toggle-font-button" data-content-type="all">Translate All</button>

    <h3 class="font-wingdings">Comments</h3>
    <ul class="comment-list">
        {{#each comments}}
        <li class="font-wingdings">
            {{#if user.image}}
            <img src="{{user.image}}" alt="{{user.username}}'s Profile Image" class="comment-profile-image">
            {{/if}}
            {{user.username}}: {{content}}
        </li>
        {{/each}}
    </ul>

    <form class="comment-form">
        <textarea class="comment-input" name="content" rows="4" placeholder="Add a comment"></textarea>
        <input type="hidden" name="thread_id" value="{{id}}">
        <button class="comment-button" type="submit">Submit Comment</button>
    </form>
</main>

<script src="/js/comment.js"></script>
<script src="/js/toggle-font.js"></script>
