<main class="container">
    <button class="toggle-font-button" data-content-type="all">Translate All</button>
    <h2 class="font-wingdings">{{title}}</h2>
    <p class="thread-content {{defaultFontClass}}">{{content}}</p>
    1
    <!-- Toggle font button for thread content -->

    <h3 class="font-wingdings">Comments</h3>
    <ul class="comment-list">
        {{#each comments}}
        <li>
            {{User.username}}: <span class="comment-content {{defaultFontClass}}">{{content}}</span>
            <!-- Toggle font button for comment -->
        </li>
        {{/each}}
    </ul>
    <script src="/js/toggle-font.js"></script>
</main>